### Python Basic Syntax

In [9]:
# Print Statement
print("Hello, David, Welcome to Python") 

# Comments
# This is a single-line comment
"""
This is a 
multi-line comment
"""

Hello, David, Welcome to Python

'\nThis is a \nmulti-line comment\n'

NameError: name 'dd' is not defined

In [11]:
print("Welcome to python programming")

Welcome to python programming

In [14]:
# This is the beginning of ground beaking feats for David in the Data field

In [10]:
# Practice Questions:
# 1. Write a program to print "Welcome to Python Programming".
print("Welcome to Python Programming")
# 2. Write comments explaining what each line of your program does.

Welcome to Python Programming

### Python Variables/Constants

In [19]:
# Variables
# Variables are used to store data that can be changed later. 
# In Python, you can assign a value to a variable using the assignment operator '='.

# Example of a variable:
x = 10
print("Variable x:", x)

Variable x: 10

In [20]:
# You can change the value of a variable by assigning a new value to it:
x = 20
print("Updated variable x:", x)

Updated variable x: 20

In [24]:
# Constants
# Constants are used to store data that should not changed throughout the program. 
# By convention, constants are usually written in all uppercase letters.

# Python does not have a built-in constant type, but you can use naming conventions to indicate that a variable should be treated as a constant.

# Example of a constant:
PIE = 3.14159
print("Constant PIE:", PIE)

Constant P: 3.14159

In [27]:
#Create a variable

NAME = 300
print("Big Boy Name:", NAME)

Big Boy Name: 300

In [ ]:
# Although you can technically change the value of a constant, you should avoid doing so to prevent confusion and errors in your code.
# Example (not recommended):
PI = 3.14  # This is not recommended, as it breaks the constant convention.
print("Updated constant PI (not recommended):", PI)

In [ ]:
# Practice Questions:
# 1. Create a variable `name` and assign your name to it.
# 2. Define a constant `SPEED_OF_LIGHT` and assign it the value `299792458`.

### Assigning / Reassigning value to a variable

In [32]:
# Assigning a value to a variable
age = 25

# Reassigning a value to a variable
age = 26

In [ ]:
age

In [ ]:
# Practice Questions:
# 1. Assign the value 10 to a variable `a`, then reassign it to 15.
# 2. Create a variable `b`, assign it the value 20, then change its value to 30.

In [37]:
a = 10

a = 15

In [38]:
a

15

In [44]:
b = 20

b = 30

In [43]:
b

20

In [45]:
b

30

### Python Arithmetic Operators

In [39]:
a = 10
b = 3

In [46]:
# Addition
add = a + b  # 13

In [ ]:
add

In [47]:
print ("addition of a & b =", add)

addition of a & b = 40

In [59]:
# Subtraction
subtract = (a - b)
print ("subtraction of a & b", subtract)

subtraction of a & b -20

In [51]:
# Multiplication
multiply = a * b  # 30

In [ ]:
# Division
divide = a / b  # 3.333...

In [ ]:
divide

In [57]:
# Floor Division
# The floor division operator (//) divides two numbers and returns the largest integer less than or equal to the result.
# For example, 10 // 3 is 3 because 10 divided by 3 is 3.333, and the floor of 3.333 is 3.

floor_division_result = 37 // 9
print("Floor Division:", floor_division_result)  # Output: 3

Floor Division: 4

In [60]:
# Modulo
# The modulo operator (%) returns the remainder of the division of two numbers.
# For example, 10 % 3 is 1 because 10 divided by 3 is 3 with a remainder of 1.

a = 10
b = 3
modulo_result = a % b
print("Modulo:", modulo_result)  # Output: 1

Modulo: 1

In [61]:
# Exponent
# The exponent operator (**) raises the first number to the power of the second number.
# For example, 2 ** 3 is 8 because 2 raised to the power of 3 is 8.

base = 2
exponent = 3
exponent_result = base ** exponent
print("Exponent:", exponent_result)  # Output: 8

Exponent: 8

In [ ]:
# Practice Questions:
# 1. Perform addition, subtraction, multiplication, and division on two numbers.
# 2. Find the modulus, exponent, and floor division of two numbers.

### Python Comparison Operators

In [66]:
a = 10
b = 3

NameError: name 'dd' is not defined

In [70]:
# Equal
equal = (a == b)  # False

In [ ]:
equal

In [72]:
# Not Equal
not_equal = (a != b)  # True
not_equal

True

In [76]:
# Greater than
greater_than = (a > b)  # True
greater_than

True

In [ ]:
greater_than

In [75]:
# Less than
less_than = (a < b)
less_than

False

In [ ]:
less_than

In [ ]:
10 >= 3

In [ ]:
# Greater than or equal to
greater_than_equal = (a >= b)  # True

In [ ]:
# Less than or equal to
less_than_equal = (a <= b)  # False
less_than_equal

In [ ]:
# Practice Questions:
# 1. Compare two numbers using all the comparison operators and print the results.
# 2. Write a program that checks if a number is greater than or equal to 18.

### Python Data Types

In [ ]:
# Integers
# Integers are whole numbers without a decimal point.
integer = 10
print("Integer:", integer)

# Float
# Floats are numbers that have a decimal point.
floating_point = 10.5
print("Float:", floating_point)

# String
# Strings are sequences of characters enclosed in quotes.
string = "Hello"
print("String:", string)

# Boolean
# Booleans represent one of two values: True or False.
boolean = True
print("Boolean:", boolean)

# List
# Lists are ordered collections of items, which can be of different types. Lists are mutable, meaning you can change their content.
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)

# Tuple
# Tuples are ordered collections of items, similar to lists, but they are immutable, meaning you cannot change their content once created.
my_tuple = (1, 2, 3, 4, 5)
print("Tuple:", my_tuple)

# Dictionary
# Dictionaries are collections of key-value pairs. Each key is unique and is used to access the corresponding value.
my_dict = {"name": "Alice", "age": 25}
print("Dictionary:", my_dict)

# Set
# Sets are unordered collections of unique items. They are useful for storing items where duplication is not allowed.
my_set = {1, 2, 3, 4, 5}
print("Set:", my_set)

### Python String

In [77]:
# Single quotes
single_quote_string = 'Hello'

# Double quotes
double_quote_string = "World"

# Triple quotes
triple_quote_string = '''Hello World'''

In [ ]:
# Practice Questions:
# 1. Create a string using single, double, and triple quotes.
# 2. Print each string.

### Python String Operations

In [86]:
string1 = "Hello "
string2 = "World"

In [87]:
# Concatenation
concat = string1 + " " + string2 + " my foot" + " 3" # "Hello World"

In [88]:
concat

'Hello  World my foot 3'

In [89]:
# Repetition
repeat = string1 * 3  # "HelloHelloHello"

In [90]:
repeat

'Hello Hello Hello '

In [100]:
# Slicing
slice = string1[2:4]  # "ell"

In [101]:
slice

'll'

In [104]:
x = "rattle snake boy"

In [105]:
len(x)

16

In [ ]:
# Length
length = len(string1)  # 5

In [ ]:
# Practice Questions:
# 1. Concatenate two strings.
# 2. Slice a string from the 2nd to the 4th character.
# 3. Find the length of a string.

### Type Conversion

In [108]:
# Integer to String
num = 10
num_str = str(num)  # "10"

num

10

In [ ]:
# String to Integer
str_num = "10"
num_int = int(str_num)  # 10

In [ ]:
# Float to Integer
float_num = 10.5
int_num = int(float_num)  # 10

In [ ]:
# Integer to Float
int_to_float = float(num)  # 10.0

In [ ]:
# Practice Questions:
# 1. Convert a float to an integer.
# 2. Convert a string to an integer.
# 3. Convert an integer to a string.

### Boolean values

In [ ]:
is_python_fun = True
is_sky_green = False

In [ ]:
# Boolean expressions
bool_expr1 = (10 > 5)  # True
bool_expr2 = (10 < 5)  # False

In [ ]:
# Practice Questions:
# 1. Create two boolean variables, one True and one False.
# 2. Write a program that prints the result of a boolean expression (e.g., 10 > 3).